<div class="main-div">
    <div>
        <div class="example-form">
            <h1 class="card-title">Register yourself here</h1>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
                <span [innerHTML]="errorMessage"></span>
            </div>

            <div fxLayout fxLayoutAlign="center center">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>

            <form [formGroup]="registerForm" *ngIf="!isLoading" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
                <p>
                    <mat-form-field appearance="standard">
                        <mat-label for="username">Username</mat-label>
                        <input type="text" id="username" formControlName="username" matInput placeholder="Please enter a username" />
                    </mat-form-field>
                </p>
                <mat-form-field appearance="standard">
                    <mat-label for="name">Name</mat-label>
                    <input type="text" id="name" formControlName="name" matInput placeholder="Please enter your full name" />
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label for="area">Area</mat-label>
                    <input type="text" id="area" formControlName="area" matInput placeholder="Your area of the city" />
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label for="city">City</mat-label>
                    <input type="text" id="city" formControlName="city" matInput class="form-control" />
                </mat-form-field>
                <div class="form-group row">
                    <label for="bloodGroup">Blood Group</label>
                    <div>
                        <select id="bloodGroup" name="bloodGroup" formControlName="bloodGroup">
                            <option *ngFor="let group of bloodGroups; let i = index" [value]="bloodGroups[i].item">
                                {{group.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="memberStatus">Current Status</label>
                    <div class="col-md-5">
                        <select id="memberStatus" name="memberStatus" formControlName="memberStatus">
                            <option value="patient" selected>Patient</option>
                            <option value="donor">Donor</option>
                        </select>
                    </div>
                </div>
                <mat-form-field appearance="standard">
                    <mat-label for="phoneNumber">PhoneNumber</mat-label>
                    <input type="tel" id="phoneNumber" matInput formControlName="phoneNumber" placeholder="Phone number" />
                    <em *ngIf="validateControl('phoneNumber') && hasError('phoneNumber', 'required')">Phone number is
                        required</em>
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label for="password">Password</mat-label>
                    <input type="password" id="password" formControlName="password" matInput placeholder="enter password" />
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                        required</em>
                </mat-form-field>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label for="confirm">Confirm Password</mat-label>
                    <input type="password" id="confirm" formControlName="confirm" matInput placeholder="confirm password" />
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is
                        required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </mat-form-field>
                <br>
                <div class="form-group row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Register</button>
                        <!-- <button type="submit" class="btn btn-info">Register</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>