.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-form {
    justify-content: center;
    /* max-width: 100%; */
    align-items: center;
}

.example-full-width {
    width: 100%;
}