<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home">Covid 19 directory</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
              <a routerLink="/patients/patients">Help</a>
          </li>
          <li>
              <a routerLink="/account">Login</a>
          </li>
      </ul>
  </div>
</mat-toolbar>